<!DOCTYPE html>
<html>
<%= render 'parts/head' %>
  <body>
    <%= render 'parts/header' %>
    <main class="container">
      <div id="slider" data-ride="carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
        </ol>
        <div role="listbox" class="carousel-inner">
          <% @latest_books.each_with_index do |book, index| %>
          <% if index == 0 %>
          <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
            <div class="row">
              <div class="col-sm-5">
                <div class="general-img-wrap">
                  <%= image_tag book.main_photo, alt: "design-book", class: "img-shadow general-thumbnail-img" %>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="mb-60">
                  <h1><%= book.title %></h1>
                  <p class="lead description"><%= book.description %></p>
                  <p class="lead small"><%= book.authors %></p>
                  <div class="general-align">
                    <button class="disabled btn"><%= t_scoped :btn_buy_now %></button></div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <a href="#slider" role="button" data-slide="prev" class="left carousel-control">
          <span aria-hidden="true" class="icon-prev"></span>
          <span class="sr-only"><%= t_scoped :btn_previous %></span>
        </a>
        <a href="#slider" role="button" data-slide="next" class="right carousel-control">
          <span aria-hidden="true" class="icon-next"></span>
          <span class="sr-only"><%= t_scoped :btn_next %></span>
        </a>
      </div>
    </main>
    <div class="container">
      <div class="jumbotron text-center mb-0">
        <h2 class="h1"><%= t_scoped :welcome %></h2>
        <div class="mb-res-50">
          <p><%= t_scoped :welcome_description %></p>
        </div>
        <%= button_to 'Get Started', catalog_index_path, method: :get, class: "btn btn-default" %>
      </div>
      <div class="mb-35">
        <h3><%= t_scoped :best_sellers %></h3>
        <div class="row">
          <% @best_sellers.each do |book| %>
          <div class="col-sm-6 col-md-3">
            <div class="general-thumb-wrap">
              <div class="thumbnail general-thumbnail">
                <%= image_tag book.main_photo %>
                <div class="thumb-hover">
                  <div class="general-thumb-link-wrap">
                    <%= link_to catalog_path(id: book.id), class: "thumb-hover-link watch" do %>
	                    <i aria-hidden="true" class="fa fa-eye thumb-icon"></i>
	                  <% end %>
                    <a href="#" class="thumb-hover-link">
                      <i class="fa fa-shopping-cart thumb-icon"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-35">
              <div class="clearfix">
                <p class="pull-right font-16 in-gold-500"><%= t_scoped :currency %><%= book.price %></p>
                <p class="title mr-55"><%= book.title %></p>
              </div>
              <span class="divider-sm"></span>
              <p class="lead small"><%= book.authors %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
        <%= render 'parts/footer' %>
  </body>
</html>
