<!DOCTYPE html>
<html>
  <%= render 'parts/head' %>
  <body>
    <%= render 'parts/header' %>
    <main class="container">
      <h1 class="general-title-margin"><%= t_scoped :catalog %></h1>
      <div class="hidden-xs clearfix">
        <div class="dropdowns pull-right">
          <div class="dropdown width-240">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenuLink" aria-expanded="false" class="dropdown-toggle lead small">
              <%= @sorting_order %>
              <i class="fa fa-angle-down dropdown-icon pull-right"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to (t_scoped :newest), catalog_index_path(categori_idid: @selected_category_id, page: @selected_page, column: "created_at") %>
              <li>
                <%= link_to (t_scoped :popular), catalog_index_path(categori_id: @selected_category_id, page: @selected_page, column: "sales_count") %>
              </li>
              <li>
                <%= link_to (t_scoped :expensive), catalog_index_path(categori_id: @selected_category_id, page: @selected_page, column: "price", direction: "desc") %>
              </li>
              <li>
                <%= link_to (t_scoped :cheap), catalog_index_path(categori_id: @selected_category_id, page: @selected_page, column: "price") %>
              </li>
              <li>
                <%= link_to (t_scoped :alphabetically), catalog_index_path(categori_id: @selected_category_id, page: @selected_page, column: "title") %>
              </li>
              <li>
                <%= link_to (t_scoped :desc_alphabetically), catalog_index_path(categori_id: @selected_category_id, page: @selected_page, column: "title", direction: "desc") %>
              </li>
            </ul>
          </div>
        </div>
        <ul class="list-inline pt-10 mb-25 mr-240">
          <li class="mr-35">
            <%= link_to catalog_index_path, class: "filter-link" do %>
              <%= t_scoped :all %>
              <span class="badge general-badge">
                <%= @count_all_books_in_all_catogories %>
              </span>
            <% end %>
          </li>
          <% @categories.each do |categori| %>
          <li class="mr-35">
            <%= link_to catalog_index_path(categori_id: categori.id), class: "filter-link" do %>
                <%= categori.title %>
                <span class="badge general-badge"><%= categori.count_books %></span>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="mb-120">
        <div class="row">
          <% @books.each do |book| %>
              <div class="col-xs-6 col-sm-3">
                <div class="general-thumb-wrap">
                  <div class="thumbnail general-thumbnail">
                    <%= image_tag book.main_photo %>
                    <div class="thumb-hover">
                      <div class="general-thumb-link-wrap">
                      	 <%= link_to catalog_path(id: book.id), class: "thumb-hover-link" do %>
	                         <i aria-hidden="true" class="fa fa-eye thumb-icon"></i>
	                       <% end %>
                        <a href="#" class="thumb-hover-link">
                          <i class="fa fa-shopping-cart thumb-icon"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="general-thumb-info">
                  <p class="title"><%= book.title %></p>
                  <p class="font-16 in-gold-500">€<%= book.price %></p>
                  <span class="divider-sm"></span>
                  <p class="lead small"><%= book.authors %></p>
                </div>
              </div>
              <% end %>
        </div>
        <div class="text-center">
          <%= paginate @books %>
        </div>
      </div>
    </main>
    <%= render 'parts/footer' %>
  </body>

</html>
