<!DOCTYPE html>
<html>
  <%= render 'parts/head' %>
  <body>
    <%= render 'parts/header' %>
    <main class="container">
      <%= link_to :back, class: "general-back-link" do %>
          <i class="fa fa-long-arrow-left mr-15"></i>
        <%= t_scoped :btn_back %>
      <% end %>
      <div class="row">
        <div class="col-sm-6">
          <div class="product-gallery">
            <div class="mb-20">
              <%= image_tag @book.main_photo, id:'main_img', class:"img-responsive" %>
            </div>
            <div class="images clearfix">
            <% @book.book_photos.first(3).each do |book| %>
              <a href="#" class="img-link">
                <%= image_tag book.imagen, class:"small-img" %>
              </a>
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h1 class="mt-res-0">
            <%= @book.title %>
          </h1>
          <p class="lead small">
            <%= @book.authors %>
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <p class="h1 in-gold-500 mt-10">
                €<%= @book.price %>
              </p>
            </div>
            <div class="col-xs-5 col-md-3">
              <div class="input-group general-position">
                <a href="#" class="input-link">
                    <i class="fa fa-minus line-height-40"></i>
                </a>
                <input type="text" class="form-control quantity-input" />
                <a href="#" class="input-link">
                  <i class="fa fa-plus line-height-40"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-7 col-md-5">
              <button class="btn btn-default pull-right general-position"><%= t_scoped :btn_cart %></button>
            </div>
          </div>
          <div class="general-info-wrap divider-lg">
            <p><%= t_scoped :description %></p>
            <p class="lead small line-height-2 description" id="description">
              <%= @book.description %>
            </p>
          </div>
          <div class="general-info-wrap divider-lg">
            <div class="clearfix">
              <p class="pull-left">
                <%= t_scoped :publication_year %>
              </p>
              <p class="lead small pull-right">
                <%= @book.publication_year %>
              </p>
            </div>
          </div>
          <div class="general-info-wrap divider-lg">
            <div class="clearfix">
              <p class="pull-left">
                <%= t_scoped :dimensions %>
              </p>
              <p class="lead small pull-right">
                <%= @book.list_dimensions %>
              </p>
            </div>
          </div>
          <div class="general-info-wrap divider-lg">
            <div class="clearfix">
              <p class="pull-left"><%= t_scoped :materials %></p>
              <p class="lead small pull-right"><%= @book.material %></p>
            </div>
          </div>
        </div>
      </div>

    </main>
    <%= render 'parts/footer' %>
  </body>
</html>
