<!DOCTYPE html>
<html>
  <%= render 'parts/head' %>
  <body>
  <%= render 'parts/header' %>
  <main class="container general-main-wrap">
    <div class="text-center">
      <h3 class="general-login-title">Log In</h3>
      <%= link_to user_facebook_omniauth_authorize_url(), class: "general-login-icon" do %>
        <i class="fa fa-facebook-official"></i>
      <% end %>
      <p class="general-login-text">or</p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "general-form"}) do |f| %>
      <div class="form-group mb-30">
        <%= f.label :email, class:"control-label input-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group mb-30">
        <%= f.label :password, class: "control-label input-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: "help-block in-gold-500" %>
      </div>
        <% if devise_mapping.rememberable? %>
        <div class="form-group checkbox text-center mb-30">
          <label class="checkbox-label">
            <%= f.check_box :remember_me, class:"checkbox-input", type:"hidden" %>
            <span class="checkbox-icon">
              <i class="fa fa-check"></i>
            </span>
            <span class="checkbox-text">Remember me</span>
          </label>
        </div>
        <% end %>
      <div class="text-center">
        <%= f.submit "Log in", class:"btn btn-default mb-20" %>
      </div>
    <% end %>
    <p class="general-sign-text text-center">Don’t have an Account?
      <%= link_to 'Sign up', new_user_registration_path, class:"in-gold-500" %>
    </p>
  </main>
  <%= render 'parts/footer' %>
  </body>
</html>
